<div class="card">
    <div class="card-header text-uppercase">
        Ingreso de usuarios
    </div>
    <div class="card-body">
        <form>
            <div class="row g-3">
                <div class="col-md-4">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" name="nombre" [(ngModel)]="usuario.nombre">
                </div>
                <div class="col-md-4">
                    <label for="password" class="form-label">password</label>
                    <input type="text" class="form-control" name="password" [(ngModel)]="usuario.password">
                </div>
                <div class="col-md-4">
                    <label class="form-label">&nbsp;</label>
                    <div class="d-grid gap-3">
                        <button *ngIf="!editando" type="submit" class="btn btn-primary"
                            (click)="enviarFormulario()">Ingresar</button>
                        <button *ngIf="editando" type="submit" class="btn btn-primary"
                            (click)="editarUsuario(usuario)">Editar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>password</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuarios; let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{usuario.nombre}}</td>
                        <td>{{usuario.password}}</td>
                        <td>
                            <button class="btn btn-success mr-2" (click)="verUsuario(usuario)">Ver</button>
                            <button class="btn btn-warning mr-2" (click)="cargarUsuario(usuario)">Editar</button>
                            <button class="btn btn-danger" (click)="eliminarUsuario(usuario)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
